# Configuration
/.htaccess
/wp-config.php

# Log files
*.log

# Editor directories and files
/license.txt
/readme.html
/index.php
/wp-*.php
/xmlrpc.php
/wp-admin/
/wp-includes/
/wp-content/index.php
/wp-content/uploads
/wp-content/upgrade
/wp-content/themes
/wp-content/plugins/index.php

.vscode/launch.json
wp-content/backups-dup-lite/

